<section id="apply-section" class="apply-now">
	<div class="container text-center">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>お問い合わせ</span>
						</h2>
						<h4 class="text-center sub-heading">折り返しすぐにこちらからご絡いたします</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
						<form id="apply-form" action="https://triip.us4.list-manage.com/subscribe/post-json?u=b4ceed86273036f667a24b18f&amp;id=8c9a30b774&amp;c=?">
							<div class="form-group">
								<input class="form-control" type="text" name="NAME" id="name" placeholder="お名前*" required/>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="TITLE" id="title" placeholder="役職（例:CEO,CTO）"/>
							</div>
							<div class="form-group">
								<input class="form-control" type="tel" name="PHONE" id="phone" placeholder="電話番号"/>
							</div>
							<div class="form-group">
								<input class="form-control" type="email" name="EMAIL" id="email" placeholder="Email*" required/>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="country" id="country" placeholder="居住国"/>
							</div>
							<div class="alert alert-success alert-dismissible js-alert-success" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong>申込完了後、直ちにご連絡いたします</strong>
							</div>
							<div class="alert alert-danger alert-dismissible js-alert-error" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<strong id="error-messages">申込内容に不備があるようです。すぐにご連絡いたしますので少々お待ちください。</strong>
							</div>
							<br>
							<input type="hidden" name="lang" value="jp"/>
							<input type="submit" name="submit" value="申し込む" class="btn btn-apply"/>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
