<footer class="footer">
	<div class="container text-center">
		<div class="row">
			<div class="col-xs-12">
				<ul className="footer-nav">
					<li><a href="https://www.triip.me/" target="_blank" title="Triip Web">Triip Web</a></li>
					<li><a href="https://livinglocal.triip.me/" target="_blank" title="Triip Blog">Triip Blog</a></li>
					<li><a href="/jp/about/" title="About us">About Us</a></li>
				</ul>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<p class="copyright">© 2016 Triip Pte. Ltd. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
