<section id="twitter-section-slider" class="twitter-section-slider">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-1 text-right">
				<h3 class="news-heading">News: </h3>
			</div>
			<div class="col-xs-9 col-sm-11 twitter-section-items"></div>
		</div>
	</div>
</section>
<section id="twitter-section-slider-clone" class="twitter-section-slider clone">
	<div class="container">
		<div class="row">
			<div class="col-xs-3 col-sm-1 text-right">
				<h3 class="news-heading">News: </h3>
			</div>
			<div class="col-xs-9 col-sm-11 twitter-section-items"></div>
		</div>
	</div>
</section>