<section id="entrepreneurs" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>ENTREPRENEURS</span>
						</h2>
						<h4 class="text-center sub-heading">過去の参加者紹介</h4>
					</div>
				</div>
				<div class="row section-content">
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="../static/img/testimonials/batch-003/Luis-Arcangel.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Luis Arcangel</h2>
								<h4 class="role">Founder/CEO of Montgomery Fitch and Associates</h4>
								<p class="desc">
									Luis Arcangelは、ニューヨークでビジネスの訓練を重ねた、Montgomery Fitch + Associatesの創業者であり、現在のCEOです。世界でも有数のいくつかのブランドにおいて独創的なキャンペーンを展開している独立系の広告代理店事業を行っています。彼の「改善」と「ビジネスコミュニケーション」における基調講演は、大陸を横断した専門知識と業界内での経験のからきています。また、世界中で行われる多数の会議、ビジネスサミット、フォーチュン500企業、非営利団体でその手腕を発揮しています。さらに、彼は、アジアの高水準の経営幹部に与えられる、キャピタル・ワン・ヤング・リーダー・オブ・ザ・イヤーの2016年の受賞者です。
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="../static/img/testimonials/batch-003/June-Chua.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">June Chua</h2>
								<h4 class="role">Co Founder/CEO of The Wok People Pte Ltd</h4>
								<p class="desc">
									謙虚な姿勢にとても忠実ながら高い意欲を持った起業家でもあるJune Chuaは、たった4人のチームでケータリングビジネスを開拓し数百万ドル以上のビジネスに成長させました。今日では、520人もの従業員を抱えています。また、People Firstを大事にしている変革者でもあります。彼女は、組織の構築、成長、育成、共有は組織の成功にとって不可欠な要素だと考え、ビジネスにおける意思決定の中核となる信念としています。彼女は、チームに勇気、コミットメント、有言実行を求め促しています。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-more-content">
					<!-- <div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Mai-Thanh-Binh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Mai Thanh Binh</h2>
									<h4 class="role">Founder of Vietnam Esports</h4>
									<p class="desc">
										eスポーツ、フィンテック、eコマースの世界で10年以上の経験を持つ投資家・起業家・技術者です。 Maiはインターネットを活用して、ビジネスオペレーションとユーザーエクスペリエンスを向上させることに重点を置いて事業を進めています。
									</p>
								</div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="row js-batch-buttons">
					<div class="col-xs-12">
						<div class="text-center">
							<!-- <input id="see-more-button" type="button" class="btn-apply btn btn-see-more-profile btn-js-see-more-profile see-more-button" value="もっと見る"> -->
							<a id="see-full-list-button" href="/timeline/" type="button" class="btn-apply btn see-full-list-button">すべての参加者リストを見る</a>
							<br/>
							<input type="button" class="btn-apply btn js-button-apply-top" value="今すぐ参加する">
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
