<section id="entrepreneurs" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>アントレプレナー</span>
						</h2>
						<h4 class="text-center sub-heading">バッチ002</h4>
					</div>
				</div>
				<div class="row section-content">
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="../static/img/testimonials/batch-002/Thibault-Cuny.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Thibault Cuny</h2>
								<h4 class="role">CEO of Pernod Ricard Brasil</h4>
								<p class="desc">
									経験豊かな起業家であり、ワインとスピリッツの業界でシニアエグゼクティブをしています。自らのチーム、パートナー、お客様のために、常にあらゆる未来・関係を形作ることを事業の達成目標にしています。現在は、ラテンアメリカのPernod RicardのCEOです。
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="../static/img/testimonials/batch-002/David-Mendelsohn.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">David Mendelson</h2>
								<h4 class="role">CEO at Jingzhu Garments Co Ltd<br/> Investor/VC</h4>
								<p class="desc">
									Davidは、20歳でオーストラリアのシドニーで貿易会社を起こしたのを皮切りに起業を繰り返すシリアルアントレプレナーです。現在は、Jingzhu GarmentsのCEOを務めると同時に、ニッチな業界と独自性を持つ新興企業に対し積極的に投資しています。既に多くの企業に対し、彼はアウトサイダーを支持しイノベーターを信じることを恐れない投資家であり、様々な形で国際的橋渡しのサポートをしています。
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="../static/img/testimonials/batch-002/Vy-Le.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Vy Le</h2>
								<h4 class="role">Founder, VR Society Vietnam</h4>
								<p class="desc">
									Vyは、14歳からセールス＆マーケティング、人事管理、ビジネスオペレーションなどで豊富な経験を積んできたダイナミックな起業家です。従業員のモチベーション、チームワーク、創造性、生産性を促進するずば抜けた能力を持ってます。Vyはこれらのスキルを武器に、2016年にフォーブスが選ぶアジアの30人、U-30に選ばれました。
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-more-content">
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Mai-Thanh-Binh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Mai Thanh Binh</h2>
									<h4 class="role">Founder of Vietnam Esports</h4>
									<p class="desc">
										eスポーツ、フィンテック、eコマースの世界で10年以上の経験を持つ投資家・起業家・技術者です。 Maiはインターネットを活用して、ビジネスオペレーションとユーザーエクスペリエンスを向上させることに重点を置いて事業を進めています。
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Alok-Kumar.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Alok Kumar</h2>
									<h4 class="role">International Banking Operations Specialist</h4>
									<p class="desc">
										19年以上に渡り、欧米並びにアジアの代表的な銀行・金融機関に対し、大規模なビジネス変革を提供してきた経験を持つシニアエグゼクティブです。著名なカンファレンスにてスピーカーを依頼されることも多く、技術応用とオペレーション・エクセレンスの第一人者です。
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Vrijesh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Vrijesh Pandey</h2>
									<h4 class="role">Vodafone Global Enterprise</h4>
									<p class="desc">
										18年以上に渡り、ストラテジー、デザイン、デリバリー、オペレーションの各分野で多様なリーダーシップを発揮した経験を持つ、顧客中心指向のエグゼクティブです。新興市場において経験豊かで、より効果的なチームの構築と牽引に情熱を燃やしています。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-001/Ha-Lam.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Ha Lam</h2>
									<h4 class="role">Co-Founder of Triip.me<br>Creator of Type-A Retreat</h4>
									<p class="desc">
										Ha LamはTriip.meを2013年に共同で設立しました。<a target="_blank" href="https://www.triip.me">Triip.me</a>は個性的で地域に密着した経験ができるシェアリングエコノミーのプラットフォームです。その国の特有な文化を体験したい人と、オリジナルで企画したツアーを提供したい人をマッチングさせています。Haは、ホーチミンの旅行業界で9年以上勤務していました。Haの情熱は、出会うすべての人に喜びをもたらすことにあります。
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Maggie-Thao-Le.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Maggie Lee</h2>
									<h4 class="role">Founder at Salora Co Ltd</h4>
									<p class="desc">
										Maggie Leは、ベトナムの不動産・サービス業界の大手であるVingroup Corpで、小売、マーケティング、研究開発の分野で様々なキャリアを積んできました。 Vingroupの遊園地や屋内エンターテイメント施設を運営するVinpearl LandのCEOも務めました。Thaoは現在、Half FullとAmbrosiaという2つの主要ブランドに代表される飲食料を扱うベンチャー、Saloraの経営に集中しています。 Saloraは、彼女の強い信念に沿って、シェアリングエコノミーの精神と自然の法則の尊重をベースとした新しいビジネス文化に基づいて運営されています。
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Dzung-Nguyen.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Dzung Nguyen</h2>
									<h4 class="role">Managing Director of Vietnam &amp; Thailand<br/>at CyberAgent Ventures, Inc.</h4>
									<p class="desc">
										日本のVCである、Cyber​​Agent Venturesのベンチャーキャピタリストで、インターネット＆モバイルビジネスにおいて立ち上げ直後のベンチャーに焦点を当てて仕事をしています。インターネットとモバイルを使う顧客のために、昼夜問わず自社のサービスで世界をより良く変えようとする起業家を支援することに情熱に燃やしております。
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Benjamin.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Benjamin Bonnell</h2>
									<h4 class="role">Chief Executive Officer chez APRIL Africa</h4>
									<p class="desc">Benjaminはアフリカの新興市場に特化したシリアルアントレプレナーです。多くのソーシャルビジネスを設立した後、セネガルのIvory CoastとカメルーンにてApril Africaというの保険会社を始めました。その他の活動として、外国投資を奨励しながら地元の起業家のプロジェクト開発を手助けすることで、アフリカと世界の国々との間を橋渡しする役割を担っています。Benjaminは企業が大きな社会的影響力を持てるようになると、経済的な目標も同時に達成することができると考えており、ビジネスによって新しいアフリカの姿を形作ることができると信じています。</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Marcus.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Marcus Leng</h2>
									<h4 class="role">Founder of Miracles of Capital Vietnam<br/><br/>Chief Evangelist Officer-Asian Dermatoglyphics Research Centre</h4>
									<p class="desc">Marcusは、アジア皮膚科医学研究センターのCEOであり、DMIT（多重知能理論テスト）業界で8年以上の経験を持つ、DMITの熱心な伝道者です。また、450のフランチャイズを持つ会社の共同設立者でもあります。さらに、Miracles of Capital VietnamというIPOに向けての手順やIPOの活用方法を学べる、ベトナムでも有数のビジネスコースの創設者でもあります。</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Tuan.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Vu The Tuan</h2>
									<h4 class="role">Chairman of iCheck</h4>
									<p class="desc">Vu The Tuanは、様々な業界に投資する投資家です。Dai Quoc Joint Stock。自動車部品輸入業者であるDuy Tan International Import Export Co.、Ltd.。日本企業のEmi（微生物の環境処理、、バイオ農薬、マイクロ肥料の応用に関する研究）。iCheck Corporation.（e-コマース）。Nanotechco Co., Ltd.（化粧品）。EBC Vietnam Limited Company（機能性食品・化粧品）。Consumer Marketing Magazine （http://tiepthitieudung.vn）。Kim Cuong Trading Co., Ltd（産業機械輸入業）。以上の6社に投資しています。</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Long.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Long Light Nguyen</h2>
									<h4 class="role">Founder/Product Lead @ YOMI Studio</h4>
									<p class="desc">
										過去6年間で3つの大学を中退した25歳のデジタル製品愛好者です。食堂のマネージャー、研究分野、コミュニティコーディネーターなどをしていましたが、4年前に初めて会社を設立しました。しかし、その会社は失敗に終わりました。その後、2015年にデジタル製品の代理店であるYOMIStudioを設立しました。ここでは、製品自体ががビジネスを促進させるとは考えていません。むしろ質問をしたり、研究をしたり、ユーザーを観察したり、デザインとモノづくりを自社の厳しい基準でクライアントのビジネスに関わることがビジネスが促進すると考えています。私たちは、顧客の問題を適切に解決し、顧客を幸せにし、顧客のビジネスを成長させるソリューションを作成しています。
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-001/Hai-Ho.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Hai Ho</h2>
									<h4 class="role">Founder of Triip.me</h4>
									<p class="desc">500万人以上のユーザーがいる製品やコミュニティの構築を10年以上に渡って取り組んでいます。Haiは自分の経験やアイデアを出会ったすべての人に伝えることに情熱を傾けており、旅行は自身の学びを分かち合う一つの手段と捉えています。 2008年以来、モバイルアプリを通して、オンラインコミュニティ、ブランド、支払い処理、ソーシャルネットワーク、ウェアラブルヘルスケア、のビルダーでありグロースハッカーとして活躍しています。</p>
								</div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="../static/img/testimonials/batch-002/Trevor-Weltman.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Trevor Weltman</h2>
									<h4 class="role">Growth @ Triip.me - USA</h4>
									<p class="desc">
										Trevorはデジタルマーケティングとそのトレーニングの業界で8年以上の経験を持ち、10年以上もの間アジアで活躍しています。独自に構築したマーケティングメソッドとグロースハックのノウハウをもちいてコンサルティングしており、その以前にはGoogleで働いていました。現在は頻繁に様々な地域に旅行し、製品管理と自己啓発の講習を行っています。Trevorと彼の妻は瞑想のインストラクターでもあります。
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row js-batch-buttons">
					<div class="col-xs-12">
						<div class="text-center">
							<input id="see-more-button" type="button" class="btn-apply btn btn-see-more-profile btn-js-see-more-profile see-more-button" value="もっと見る">
							<a id="see-full-list-button" href="/timeline/" type="button" class="btn-apply btn see-full-list-button">すべての参加者リストを見る</a>
							<br/>
							<input type="button" class="btn-apply btn js-button-apply-top" value="今すぐ参加する">
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
