<section class="testimonials-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center heading">
              <span>参加者の声</span>
            </h2>
            <h4 class="text-center sub-heading"></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="../static/img/testimonials/batch-001/Coney-Chen.jpg" alt="Carol Chen" class="profile" />
            <blockquote>Type-A Retreatが終わった後に泣くことになるとは夢にも思わなかった！ここでできた友達との貴重な経験は本当に素晴らしかったです。ここで出会ったみなさんとのお別れは本当に寂しいですが、案外、世界が小さいということを私は知っています。この素晴らしい旅行を企画してくれたTriip.meに感謝します。間違いなく生涯の記憶に残る経験です。</blockquote>
          </figcaption>
          <h3>Carol Chen<span>Covetella</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="../static/img/testimonials/batch-002/Thibault-Cuny.jpg" alt="Thibault Cuny" class="profile" />
            <blockquote>私はブラジルからブータンまで行きました。私にとっては、これまでの中で最長の旅でしたが、そのすべての瞬間に価値がありました。共同生活、友情が育まれた瞬間、偉大な国とその文化に触れ合った時、すべてです。本当にすばらしい旅をしました。この素晴らしい一週間の最後には、たくさんの新しい友達ができていました。語り尽くせないほどの理由がありますが、生涯に渡ってこの旅を覚えているでしょう。もしあなたが同じ体験をしたいなら、ブータンに来てください。あなたの人生にとって本当に価値のある経験となります。</blockquote>
          </figcaption>
          <h3>Thibault Cuny<span>Pernod Ricard</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="../static/img/testimonials/batch-001/Hiro-Ito.jpg" alt="Hiro Ito" class="profile" />
            <blockquote>私はこの旅を通して、違う人間に生まれ変わったような気がしています。最初に来たときは、私たちは見知らぬ人どうしでした。しかし今では本当のチームとなり、もはや個人という感覚はありません。この旅行のすべてに感謝しています。チームであることを本当に誇りに思っています。</blockquote>
          </figcaption>
          <h3>Hiroshi Ito<span>ITO Corporation</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="../static/img/testimonials/batch-001/Miho-Ito.jpg" alt="Miho Ito" class="profile" />
            <blockquote>Type-ARetreatに参加する前は、私はほとんどすべて満たされていると思っていました...。自分がやっていること、現状にすっかり満足していました。しかし、このリトリートは私の満足の閾値をはるかに越える体験でした。人生を幸せにする知恵を学びました。人生を豊かにする一生の友人に出会うことができました。これらは買うことができないものですが、必ず得るべき体験です。自身のビジネスが「何か」を変えること真に追求しているなら、このリトリートはあなたが探しているものを教えてくれると思います。インスピレーションと希望を得て、あなたも証人の一人となリましょう！</blockquote>
          </figcaption>
          <h3>Miho Ito<span>Communication Central</span></h3>
        </figure>
      </div>
    </div>
  </div>
</section>
