<!DOCTYPE html>
<html lang="jp">
{% with title='Type-A Retreat - 世界初、経営者＆創業者のためのリトリート' %}
{% include 'jp/_header.html' %}
{% endwith %}

<body class="jp">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
	<div class="app-root homepage">
		{% include 'jp/_nav_header.html' %}
		<main class="main">
			<section class="banner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="super-heading">世界で初めての<br/> TYPE-A<br/> RETREAT</h1>
							<input type="button" class="btn-apply btn js-button-apply-top" value="問い合わせ">
						</div>
					</div>
				</div>
			</section>
			{% include 'jp/_news_sticker.html' %}
			<section class="what-next">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>READY TO RETREAT?</span>
									</h2>
									<h4 class="text-center sub-heading">あなたにとって最も生産的な1週間へようこそ</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">Productive</h6>
									<div class="icon">
										<img src="../static/img/oval.svg" alt="TYPE-Aの生産性" title="TYPE-Aの生産性"/>
									</div>
									<p class="desc">エグゼクティブや起業家の参加者とともに、毎日午前7時30分から9時30分までの2時間で、1日分の仕事を終わらせましょう。<a href="/jp/the-science-behind/">もっと詳しく</a></p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">Peaceful</h6>
									<div class="icon">
										<img src="../static/img/peaceful.svg" alt="魔法のように平和" title="魔法のように平和"/>
									</div>
									<div class="desc">忙しさに追われ、創造性を養う時間が不足していませんか？世界一の神秘の国で、平穏な時間に身を委ねてみませんか？</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="the-destination">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center heading">
								<span>THE DESTINATION</span>
							</h2>
							<h4 class="text-center sub-heading">アジアで最も幸福な国ブータン</h4>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2">
							<div class="embed-responsive embed-responsive-16by9">
								<a class="show-video video-link fancybox.iframe" rel="nofollow" href="https://www.youtube.com/embed/PZuBKZY8e54?autoplay=1"></a>
								<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/PZuBKZY8e54" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-you-are">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12 text-center">
									<h2 class="heading">
										<span>WHO YOU ARE</span>
									</h2>
									<h4 class="sub-heading">起業家、エグゼクティブ <br/>(定員15名）</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">招待制</h6>
									<div class="icon">
										<img src="../static/img/invitation.svg" alt="招待制" title="招待制"/>
									</div>
									<p class="desc">Type-Aリトリートは招待制です。競合他社等の参加者が一緒になることはありません。ご安心ください。</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">コミュニケーション</h6>
									<div class="icon">
										<img src="../static/img/speaker.svg" alt="本物のみ" title="本物のみ"/>
									</div>
									<div class="desc">参加者は起業家とエグゼクティブに限定されています。お互いの理解を深め合い、ビジネスの経験を分かち合うことができる環境です。</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'jp/_participants.html' %}
			{% include 'jp/_testimonials.html' %}
			<section class="daily-schedule">
				<div class="schedule-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<h2 class="text-center heading">
											<span>RETREAT ITINERARY</span>
										</h2>
										<h4 class="text-center sub-heading">2017年8月25日〜31日<br/></h4>
										<p class="text-center small-sub-heading">*毎日2時間、生産的な仕事の時間（Type-A Breakfast）後､2時間の感想シェアの時間を取ります</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="schedule-bottom">
					<div class="itinerary-banner">
						<img
							class="itinerary-background"
							ix-src="https://typearetreat.imgix.net/static/img/tiger-nest.jpg?fit=crop&amp;crop=face"
							alt="Tiger Nest Monastery for CEO"
							sizes="(min-width: 1099px) 100vw, 140vw"
						>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 01</h4>
												<p class="desc">Asia’s Happiest Country</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>フライトでは素晴らしい景色のエベレスト、カンチェンジュンガ、マクラが見られます。ようこそブータンへ。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 02</h4>
												<p class="desc">The Views Outside, and In</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>ティンプーを探検し、グループに分かれてハイランクのラマ(僧侶の方）との瞑想を行います。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 03</h4>
												<p class="desc">Bridging the Gap</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>この日はプナカ（標高1300m）にある160mの吊り橋など多くの美しい場所を訪れ、伝統的な農家で食事を取ります。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 04</h4>
												<p class="desc">Live Like a Local</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>自家製の手料理と素晴らしい自然がある地元の農家を訪問するなど、現地のブータンの人々の生活を体験してください。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 05</h4>
												<p class="desc">Into the Mountain</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>タクツァン僧院はヒマラヤにある仏教の聖地であり、ブータンのパロ谷を登ると寺院群が見えてきます。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 06</h4>
												<p class="desc">Share. Explore. Connect.</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>ブータンのビジネスリーダーと学生とでセミナーを実施し、ブータンのビジネスと起業家精神について学びます。</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 07</h4>
												<p class="desc">The Journey Begins</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>帰りの飛行機に乗る前に、最後のType-A Breakfastです。旅はここから始まります。</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="note">*Itinerary subject to change.</p>
			</section>
			{% include 'jp/_price_bar.html' %}
			<section class="who-we-are">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHO WE ARE?</span>
									</h2>
									<h4 class="text-center sub-heading"> ファウンダーによる、ファウンダーのための<br/> 皆さんすべて同じ船に乗っています</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="paragraph">私たちはType-Aリトリートの開催を通じて起業家とともに歩み、ともに喜びを分かち合うことを願っています。</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<img src="../static/img/triip-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="../static/img/pata-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="../static/img/gobi-logo.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'jp/_apply_section.html' %}
			<!-- <section class="twitter-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center col-sm-6 col-sm-offset-3">
							<div class="">
								<a class="twitter-timeline" href="https://twitter.com/typeAretreat" height="600">Tweets by Type-A Retreat</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
			</section> -->
		</main>
		{% include 'jp/_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'xjkvowpm';
	</script>

	{% with page='Home Page' %}
	{% include 'jp/_global_script.html' %}
	{% endwith %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

	<script src="../static/js/imgix.min.js"></script>

	<script>
		(function(doc, $){
			if (window.imgix) {
				window.imgix.config.host = 'typearetreat.imgix.net';
			}

			var $videoLink = $('.video-link').fancybox({
				maxWidth	: 800,
				maxHeight	: 600,
				fitToView	: false,
				width		: '100%',
				height		: '70%',
				autoSize	: false,
				closeClick	: true,
				openEffect	: 'fade',
				closeEffect	: 'fade'
			});

			window.visitedTypeA = readCookie('visitedTypeA');

			if (!window.visitedTypeA) {
				$videoLink.trigger('click');
				createCookie('visitedTypeA', true);
			}

			$(document).on('click', '.btn-js-see-more-profile', function() {
				$('#entrepreneurs').find('.section-more-content').slideDown();
				$('#see-more-button').fadeOut();
				$('#see-full-list-button').css({display: 'inline-block'});
			});

		})(document, jQuery);
	</script>
</body>
</html>
