<!DOCTYPE html>
<html lang="en">
{% with title='About CEO Retreat' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<div class="app-root about">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="about-triip">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About Triip</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p><a href="https://www.triip.me" target="_blank">Triip</a> is the travel platform that enables travelers to enjoy the best private tours passionately crafted by handpicked local tour guides. Triip is now available in 98 countries, 650 cities around the world.<br>Learn more about Triip’s story on <a href="http://www.wsj.com/article_email/ha-lams-long-strange-trip-to-startup-success-1436354405-lMyQjAxMTE1NTAwODAwMDgyWj/" target="_blank">The Wall Street Journal</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-pata">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About PATA</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p>Founded in 1951, the <p><a href="https://www.pata.org/" target="_blank">Pacific Asia Travel Association</a> <span class="bold">(PATA)</span> is a not-for profit association that is internationally acclaimed for acting as a catalyst for the responsible development of travel and tourism to, from and within the Asia Pacific region. The Association provides aligned advocacy, insightful research and innovative events to its member organisations, comprising 97 government, state and city tourism bodies, 27 international airlines, airports and cruise lines, 63 educational institutions, and hundreds of travel industry companies in Asia Pacific and beyond.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-gobi">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About GOBI PARTNERS</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p>Since its inception in 2002, <a href="http://www.gobivc.com/" target="_blank">Gobi</a> has been a strong believer in hypothesis-driven investing.  Instead of following where the market takes us, chasing the latest hot trends, we stay true to our core, stick to what we know, and invest only in what we believe.  This is reflected every day in the way we do business.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section id="apply-section" class="apply-now">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>APPLY NOW</span>
									</h2>
									<h4 class="text-center sub-heading">WE WILL CONTACT YOU<br/>IMMEDIATELY</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
									<form id="apply-form">
										<div class="form-group">
											<input class="form-control" type="text" name="first_name" placeholder="First Name*" required/>
										</div>
										<div class="form-group">
											<input class="form-control" type="text" name="last_name" placeholder="Last Name"/>
										</div>
										<div class="form-group">
											<input class="form-control" type="email" name="email" placeholder="Your Email*" required/>
										</div>
										<br>
										<input type="submit" name="submit" value="Apply" class="btn btn-apply"/>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
		<footer class="footer">
			<div class="container text-center">
				<div class="row">
					<div class="col-xs-12">
						<ul className="footer-nav">
							<li><a href="https://triip.imgix.net/v5/The-Triip-Book-1.0.pdf" target="_blank" title="Triip Book Guide">Triip Book</a></li>
							<li><a href="https://livinglocal.triip.me/" target="_blank" title="Triip Blog">Triip Blog</a></li>
							<li><a href="/about.html" title="About us">About Us</a></li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 text-right">
						<p class="copyright">© 2016 Triip Pte. Ltd. All rights reserved.</p>
					</div>
				</div>
			</div>
		</footer>
	</div>

	<!-- Latest compiled and minified jQuery -->
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified Bootstrap JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.8.15/hyperform.min.js"></script>

	<script type="text/javascript" src="js/jquery.floating-social-share.min.js"></script>

	<!-- main js -->
	<script src="js/main.js"></script>

	<!-- Facebook Pixel Code -->
	<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
	n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
	n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
	t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
	document,'script','https://connect.facebook.net/en_US/fbevents.js');

	fbq('init', '1429995903913652');
	fbq('track', "PageView");</script>
	<noscript><img height="1" width="1" style="display:none"
	src="https://www.facebook.com/tr?id=1429995903913652&ev=PageView&noscript=1"
	/></noscript>
	<!-- End Facebook Pixel Code -->

	<script>
		/* jshint ignore:start */
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-37038034-4', 'auto');
		ga('send', 'pageview');
		/* jshint ignore:end */
	</script>
</body>
</html>