<!DOCTYPE html>
<html lang="en">
{% with title='About Us | Type-A Retreat - World\'s First Retreat for Startup CEOs & Founders' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<div class="app-root about">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="about-triip">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About Triip</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p class="desc"><a href="https://www.triip.me" target="_blank">Triip</a> is the travel platform that enables travelers to enjoy the best private tours passionately crafted by handpicked local tour guides. Triip is now available in 98 countries, 650 cities around the world.<br>Learn more about Triip’s story on <a href="http://www.wsj.com/article_email/ha-lams-long-strange-trip-to-startup-success-1436354405-lMyQjAxMTE1NTAwODAwMDgyWj/" target="_blank">The Wall Street Journal</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-pata">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About PATA</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p class="desc">Founded in 1951, the <a href="https://www.pata.org/" target="_blank">Pacific Asia Travel Association</a> <span class="bold">(PATA)</span> is a not-for profit association that is internationally acclaimed for acting as a catalyst for the responsible development of travel and tourism to, from and within the Asia Pacific region. The Association provides aligned advocacy, insightful research and innovative events to its member organisations, comprising 97 government, state and city tourism bodies, 27 international airlines, airports and cruise lines, 63 educational institutions, and hundreds of travel industry companies in Asia Pacific and beyond.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-gobi">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>About GOBI PARTNERS</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p class="desc">Since its inception in 2002, <a href="http://www.gobivc.com/" target="_blank">Gobi</a> has been a strong believer in hypothesis-driven investing.  Instead of following where the market takes us, chasing the latest hot trends, we stay true to our core, stick to what we know, and invest only in what we believe.  This is reflected every day in the way we do business.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_news_sticker.html' %}
			{% include '_apply_section.html' %}
		</main>
		{% include '_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'mdkodgyx';
	</script>

	{% with page='About Page' %}
	{% include '_global_script.html' %}
	{% endwith %}
</body>
</html>