<!DOCTYPE html>
<html lang="jp">
{% with title='About Us | Type-A Retreat - 世界初、経営者＆創業者のためのリトリート' %}
{% include 'jp/_header.html' %}
{% endwith %}

<body class="jp">
	<div class="app-root about">
		{% include 'jp/_nav_header.html' %}
		<main class="main">
			<section class="about-triip">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>Triipについて</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p class="desc"><a href="https://www.triip.me" target="_blank">Triip</a>は旅行プラットフォームです。厳選された地元のツアーガイドによって情熱を持って企画されたプライベートツアーを旅行者は楽しむ事ができます。Triipは現在、98ヶ国、650の都市で利用可能です。
より詳しくは<a href="http://www.wsj.com/article_email/ha-lams-long-strange-trip-to-startup-success-1436354405-lMyQjAxMTE1NTAwODAwMDgyWj/" target="_blank">The Wall Street Jounal</a>をご覧ください。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-pata">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>PATAについて</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p><a href="https://www.pata.org/" target="_blank">PATA</a>(Pacific Asia Travel Association: 太平洋アジア観光協会) は、太平洋アジア地域への観光客誘致及び域内交流の活性化を目的に、1951年にハワイで設立された非営利の広域観光団体で、国際的な評価を得ている団体です。親睦会や、洞察に満ちた調査結果、そして革新的なイべントを所属団体に提供しています。また同団体には、97の政府、州および市の観光機関、27の国際航空会社、空港およびクルーズ・ライン、63の教育機関、そしてアジア太平洋地域や世界中の何百もの旅行会社が加盟しています。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="about-gobi">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>GOBI PARTNERSについて</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 text-center">
									<p>2002年の創業以来、<a href="http://www.gobivc.com/" target="_blank">Gobi</a>は仮説主導型の投資を推し進めて参りました。市場の流れにただ従うのではなく、 最先端の流行を追い求めず、コアにあるものに忠実であり続け、明確な事実にのみを頼りとし、それらを元に我々の信じたスタートアップのみに投資しています。 これは、私たちの日々のビジネスの進め方にも反映されています。</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'jp/_news_sticker.html' %}
			{% include 'jp/_apply_section.html' %}
		</main>
		{% include 'jp/_footer.html' %}
	</div>

	{% with page='About Page' %}
	{% include 'jp/_global_script.html' %}
	{% endwith %}
</body>
</html>
