<!DOCTYPE html>
<html lang="en">
{% with title='The Science Behind | Type-A Retreat - World\'s First Retreat for Startup CEOs & Founders' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<div class="app-root science">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="how-it-works">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>HOW IT WORKS</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12">
									<div class="row time-row">
										<div class="col-xs-2 orange number">1.</div>
										<div class="col-xs-10">
											<h3 class="title orange">START EARLY. ON TIME.</h3>
											<p class="desc">Meet at 7:30 am with a list of tasks that would take you 8 hours to complete.</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">2.</div>
										<div class="col-xs-10">
											<h3 class="title orange">HYPER-PRODUCTIVE TOGETHER.</h3>
											<p class="desc">Sit with people on the same mission.</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">3.</div>
										<div class="col-xs-10">
											<h3 class="title orange">NO EXCUSES.</h3>
											<p class="desc">Complete everything in 2 hours.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="why-it-works">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHY IT WORKS</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12">
									<div class="row time-row">
										<div class="col-xs-2 orange number">1.</div>
										<div class="col-xs-10">
											<h3 class="title orange">NO DISTRACTIONS</h3>
											<p class="desc">No one’s talking. No one’s on facebook. No one’s reading blog post on productivity. </p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">2.</div>
										<div class="col-xs-10">
											<h3 class="title orange">YOU’RE SURROUNDED BY TYPE-A’S</h3>
											<p class="desc">And there’s a vibe and energy you don’t get, when you’re working on your own.</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">3.</div>
										<div class="col-xs-10">
											<h3 class="title orange">IT’S PEER PRESSURE AT IT’S BEST.</h3>
											<p class="desc">It’s like group study in a library, or working out at the gym. </p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_news_sticker.html' %}
			{% include '_apply_section.html' %}
		</main>
		{% include '_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'manybovx';
	</script>
	{% with page='Science Page' %}
	{% include '_global_script.html' %}
	{% endwith %}
</body>
</html>