<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!-- <meta name="google-site-verification" content="RZoPMNr56KhAi2Els8HhTS9kKTklagnRP0Utv4vvVEM"> -->
    <title>{{ title  }}</title>

    <!-- <meta name="description" content="Type-A Retreat">
    <meta property="fb:app_id" content="506531122851192">
    <meta property="og:url" content="http://globaltravelchallenge.com">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title  }}">
    <meta property="og:image" content="http://www.globaltravelchallenge.com/gtec-2016-facebook-banner.jpg">
    <meta property="og:image:secure_url" content="https://www.globaltravelchallenge.com/gtec-2016-facebook-banner.jpg" />
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="Type-A Retreat">
    <meta property="og:site_name" content="{{ title  }}">
    <meta property="og:locale" content="en_US">
    <meta property="article:author" content="{{ title  }}">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@GTECnow">
    <meta name="twitter:creator" content="@GTECnow">
    <meta name="twitter:url" content="https://globaltravelchallenge.com">
    <meta name="twitter:title" content="{{ title  }}">
    <meta name="twitter:description" content="Type-A Retreat">
    <meta name="twitter:image" content="https://www.globaltravelchallenge.com/gtec-2016-facebook-banner.jpg"> -->

    <link rel="prerender" href="http://typearetreat.com/the-science-behind/">
    <link rel="prerender" href="http://typearetreat.com/about/">

    <link href="https://fonts.googleapis.com/css?family=Roboto:500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/hyperform/0.8.15/hyperform.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">

    <link href="/static/css/jquery.floating-social-share.min.css" rel="stylesheet" />
    <link href="/static/css/main.css" rel="stylesheet">
    <link href="/static/css/pages.css" rel="stylesheet">

    <link rel="shortcut icon" href="favicon.ico">

</head>
