<section id="entrepreneurs" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>ENTREPRENEURS</span>
						</h2>
						<h4 class="text-center sub-heading">Batch 002</h4>
					</div>
				</div>
				<div class="row section-content">
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/Victor-Chua.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Victor Chua</h2>
								<h4 class="role">Vice President, Gobi Ventures<br/>Forbes 30 Under 30 Asia 2017</h4>
								<p class="desc">
									Chua joined China-anchored Gobi Partners in early 2015 to invest its Southeast Asia fund of $15 million. He has since backed 32 startups and emerging companies, two of which got funding from major investors like Yahoo Japan, while another expanded to Korea. Before joining Gobi, Chua was the investment manager at Malaysia Venture Capital Limited - the country's largest VC firm and was also associate with 500 startups.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/David-Mendelsohn.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">David Mendelson</h2>
								<h4 class="role">CEO at Jingzhu Garments Co Ltd<br/> Investor/VC</h4>
								<p class="desc">
									David set up his first import/export company at the age of 20 in Sydney, Australia. Later traveling frequently to China, he sought after new opportunities, seeing the trends evolving in China for trading textiles &amp; accessories. During those years he witnessed an unprecedented change in his clients buyer patterns, and decided to sell out of his trading company and join Jingzhu Garment Co Ltd manufacturer (a previous supplier). He soon realised providing a bridge for western clients to buy directly with Jingzhu Garments Co Ltd factory, clients would achieve quicker communication and direct factory prices. At present, David is actively investing in startups with niche industries and unique points of difference. Already a handful of companies, he is not one to be afraid of backing the outsiders and believing in the inventor, whilst helping in areas of international contacts, whatever that may be.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/Mai-Thanh-Binh.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Mai Thanh Binh</h2>
								<h4 class="role">Founder of Vietnam Esports</h4>
								<p class="desc">
									An investor, entrepreneur and technologist with more than 10 years of experience in eSports, fintech and e-commerce. Mr Mai's focus has been on leveraging internet-based technology to improve business operation and users experience.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-more-content">
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Dzung-Nguyen.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Dzung Nguyen</h2>
									<h4 class="role">Managing Director of Vietnam &amp; Thailand<br/>at CyberAgent Ventures, Inc.</h4>
									<p class="desc">

									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Polpat -Popp- Songthamjitti.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Popp Polpat Songthamjitti</h2>
									<h4 class="role">CMO &amp; Co-founder at GetLinks</h4>
									<p class="desc">

									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Djoann-Fal.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Djoann Fal</h2>
									<h4 class="role">CEO &amp; Co-founder of GetLinks</h4>
									<p class="desc">

									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Thibault-Cuny.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Thibault Cuny</h2>
									<h4 class="role">CEO of Pernod Ricard Brasil</h4>
									<p class="desc">

									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Ha-Lam.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Ha Lam</h2>
									<h4 class="role">Co-Founder of Triip.me<br>Creator of Type-A Retreat</h4>
									<p class="desc">
										Ha Lam co-founded <a target="_blank" href="https://www.triip.me">Triip.me</a> in 2013. <a target="_blank" href="https://www.triip.me">Triip.me</a> is a sharing economy platform for unique and private local experiences, connecting people who desire to experience local culture with those who are looking to offer specially designed tours. Ha previously spent over 9 years in the travel industry in Ho Chi Minh City, Vietnam. Ha’s passion comes from bringing joy to every single person she meets.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/Hai-Ho.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Hai Ho</h2>
									<h4 class="role">Founder of Triip.me</h4>
									<p class="desc">
										Over 10 years experiences in building products and community for over 5 mil users. Hai is passionate about sharing his experience, his ideas to all people he have met and Travel is one of the ways for him to learn and share. Builder and growth hacker for online communities, brands, payment gateway, social network, wearable healthcare, mobile apps since 2008.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row js-batch-buttons">
					<div class="col-xs-12">
						<div class="text-center">
							<input id="see-more-button" type="button" class="btn-apply btn btn-see-more-profile btn-js-see-more-profile" value="See more">
							<br/>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Join Now">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>