<section id="entrepreneurs" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>ENTREPRENEURS</span>
						</h2>
						<h4 class="text-center sub-heading">Batch 002</h4>
					</div>
				</div>
				<div class="row section-content">
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-002/Thibault-Cuny.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Thibault Cuny</h2>
								<h4 class="role">CEO of Pernod Ricard Brasil</h4>
								<p class="desc">
									A seasoned entrepreneur and senior executive in the world of wines and spirits. Always looking at shaping a different future/relationships for my team, my partners and my consumers. I am currently CEO of Pernod Ricard for South Latin América.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-002/David-Mendelsohn.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">David Mendelson</h2>
								<h4 class="role">CEO at Jingzhu Garments Co Ltd<br/> Investor/VC</h4>
								<p class="desc">
									David is a serial entrepreneur, having set up his first import/export company at the age of 20 in Sydney, Australia. At present, David is the CEO of Jingzhu Garments, and as actively investing in startups with niche industries and unique points of difference. Already a handful of companies, he is not one to be afraid of backing the outsiders and believing in the inventor, whilst helping in areas of international contacts, whatever that may be.
								</p>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-002/Vy-Le.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Vy Le</h2>
								<h4 class="role">Founder, VR Society Vietnam</h4>
								<p class="desc">
									Vy is a dynamic entrepreneur who has developed extensive experiences in sales &amp; marketing, human resource management, and business operation since the age of 14. Outstanding ability to motivate employees and facilitate teamwork, creativity, and productivity. For these skills, Vy was awarded Forbes 30 Under 30 Asia in 2016.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-more-content">
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Mai-Thanh-Binh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Mai Thanh Binh</h2>
									<h4 class="role">Founder of Vietnam Esports</h4>
									<p class="desc">
										An investor, entrepreneur and technologist with more than 10 years of experience in eSports, fintech and e-commerce. Mr Mai's focus has been on leveraging internet-based technology to improve business operation and users experience.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Alok-Kumar.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Alok Kumar</h2>
									<h4 class="role">International Banking Operations Specialist</h4>
									<p class="desc">
										A senior executive with more than 19 years of experience in delivering large scale business transformation for leading International and Asian Banks &amp; Financial institutions. A regular speaker at leading conferences and thought leader in applying technology and operations excellence in Banking.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Vrijesh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Vrijesh Pandey</h2>
									<h4 class="role">Vodafone Global Enterprise</h4>
									<p class="desc">
										18+ years of Global Experience - Customer centric, execution oriented executive with diverse leadership experience across Strategy, Design, Delivery and Operations roles. Experienced in Emerging Markets and passionate for building and leading highly effective teams
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-001/Ha-Lam.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Ha Lam</h2>
									<h4 class="role">Co-Founder of Triip.me<br>Creator of Type-A Retreat</h4>
									<p class="desc">
										Ha Lam co-founded <a target="_blank" href="https://www.triip.me">Triip.me</a> in 2013. <a target="_blank" href="https://www.triip.me">Triip.me</a> is a sharing economy platform for unique and private local experiences, connecting people who desire to experience local culture with those who are looking to offer specially designed tours. Ha previously spent over 9 years in the travel industry in Ho Chi Minh City, Vietnam. Ha’s passion comes from bringing joy to every single person she meets.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Maggie-Thao-Le.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Maggie Lee</h2>
									<h4 class="role">Founder at Salora Co Ltd</h4>
									<p class="desc">
										Thao Le has had various experiences in retail, marketing and R&amp;D at Vingroup Corp., one of the leading private real estate and service enterprises in Vietnam. There, acted as the CEO of Vinpearl Land, Vingroup's amusement park and indoor entertainment center branch. Thao now focuses on running her own venture specializing in F&amp;B, Salora- with two major brands Half Full and Ambrosia. Salora reflects her strong belief in a new business culture built upon sharing economy spirit and the respect for the Law of nature.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Dzung-Nguyen.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Dzung Nguyen</h2>
									<h4 class="role">Managing Director of Vietnam &amp; Thailand<br/>at CyberAgent Ventures, Inc.</h4>
									<p class="desc">
										I am a Venture Capitalist in CyberAgent Ventures, Inc., a Japan VC that focuses on seed-and-early-stages ventures across the internet &amp; mobile business sectors. It is my ambition is to help day-and-night working entrepreneurs to make the world a better place by bringing plenty of products and services to serve users and customers using internet and mobile.
									</p>
								</div>
							</div>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Trevor-Weltman.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Trevor Weltman</h2>
									<h4 class="role">Growth @ Triip.me - USA</h4>
									<p class="desc">
										Trevor has over 8 years of experience in digital marketing and training, and a decade in Asia. Trevor worked previously at Google before creating his own marketing and growth-hacking consultancy. At present, he travels often in the region teach courses on product management and self-development. Both Trevor and his wife are meditation instructors.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-001/Hai-Ho.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Hai Ho</h2>
									<h4 class="role">Founder of Triip.me</h4>
									<p class="desc">
										Over 10 years experiences in building products and community for over 5 mil users. Hai is passionate about sharing his experience, his ideas to all people he have met and Travel is one of the ways for him to learn and share. Builder and growth hacker for online communities, brands, payment gateway, social network, wearable healthcare, mobile apps since 2008.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row js-batch-buttons">
					<div class="col-xs-12">
						<div class="text-center">
							<input id="see-more-button" type="button" class="btn-apply btn btn-see-more-profile btn-js-see-more-profile see-more-button" value="See more">
							<br/>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Join Now">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>