<section id="entrepreneurs" class="testimonials">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-10 col-md-offset-1">
				<div class="row">
					<div class="col-xs-12">
						<h2 class="text-center heading">
							<span>ENTREPRENEURS</span>
						</h2>
						<h4 class="text-center sub-heading">Type A Family</h4>
						<!-- <h4 class="text-center sub-heading">Batch 003</h4> -->
					</div>
				</div>
				<div class="row section-content">
					<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-001/Mario.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Dr. Mario Hardy</h2>
								<h4 class="role">CEO of PATA <br/>(Pacific Asia Travel Association) </h4>
								<p class="desc">
									An investor, entrepreneur and senior executive with more than 30 years of combined leadership, corporate development and change management experience. Dr Mario's focus has been on shaping and implementing strategies that inspire teams in unlocking their full potential.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-003/June-Chua.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">June Chua</h2>
								<h4 class="role">Co Founder/CEO of The Wok People Pte Ltd</h4>
								<p class="desc">
									A highly motivated entrepreneur who remains extraordinarily faithful to her humble beginnings, June pioneered an institutional catering business from a modest 4-man team and grew it into the multi-million dollar business today, comprising a workforce of 520 employees. June is an excellent change agent, with a “People First” mindset.
								</p>
							</div>
						</div>
					</div>
					<div class="col-sm-12 col-md-4 profile-item">
						<div class="profile-card">
							<div class="avatar">
								<img src="static/img/testimonials/batch-002/Thibault-Cuny.jpg" height="150" width="150">
							</div>
							<div class="profile-content">
								<h2 class="name">Thibault Cuny</h2>
								<h4 class="role">CEO of Pernod Ricard Brasil</h4>
								<p class="desc">
									A seasoned entrepreneur and senior executive in the world of wines and spirits. Always looking at shaping a different future/relationships for my team, my partners and my consumers. I am currently CEO of Pernod Ricard for South Latin América.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="section-more-content">
					<div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-003/Luis-Arcangel.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Luis Arcangel</h2>
									<h4 class="role">Founder/CEO of Montgomery Fitch and Associates</h4>
									<p class="desc">
										Luis Arcangel is a New York-trained business executive who is the founder and current CEO of Montgomery Fitch + Associates, an independent creative agency that has mounted subversive campaigns in four continents for some of the biggest brands in the world. His self- improvement and business communication keynotes are a culmination of his transcontinental expertise and "in-the-trenches" experience within the industry, and have been delivered to numerous industry conferences, business summits, Fortune 500 corporations and non-profit organizations worldwide. In addition, he was a recent honoree of the Capital One Young Leader Of The Year at the 2016 Asia CEO Awards, which recognizes outstanding achievement among high-level business executives within the region.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Mai-Thanh-Binh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Mai Thanh Binh</h2>
									<h4 class="role">Founder of Vietnam Esports</h4>
									<p class="desc">
										An investor, entrepreneur and technologist with more than 10 years of experience in eSports, fintech and e-commerce. Mr Mai's focus has been on leveraging internet-based technology to improve business operation and users experience.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-001/Ha-Lam.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Ha Lam</h2>
									<h4 class="role">Co-Founder of Triip.me<br>Creator of Type-A Retreat</h4>
									<p class="desc">
										Ha Lam co-founded <a target="_blank" href="https://www.triip.me">Triip.me</a> in 2013. <a target="_blank" href="https://www.triip.me">Triip.me</a> is a sharing economy platform for unique and private local experiences, connecting people who desire to experience local culture with those who are looking to offer specially designed tours. Ha previously spent over 9 years in the travel industry in Ho Chi Minh City, Vietnam. Ha’s passion comes from bringing joy to every single person she meets.
									</p>
								</div>
							</div>
						</div>
					</div>
					<!-- <div class="row section-content">
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Mai-Thanh-Binh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Mai Thanh Binh</h2>
									<h4 class="role">Founder of Vietnam Esports</h4>
									<p class="desc">
										An investor, entrepreneur and technologist with more than 10 years of experience in eSports, fintech and e-commerce. Mr Mai's focus has been on leveraging internet-based technology to improve business operation and users experience.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Alok-Kumar.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Alok Kumar</h2>
									<h4 class="role">International Banking Operations Specialist</h4>
									<p class="desc">
										A senior executive with more than 19 years of experience in delivering large scale business transformation for leading International and Asian Banks &amp; Financial institutions. A regular speaker at leading conferences and thought leader in applying technology and operations excellence in Banking.
									</p>
								</div>
							</div>
						</div>
						<div class="col-sm-12 col-md-4 profile-item">
							<div class="profile-card">
								<div class="avatar">
									<img src="static/img/testimonials/batch-002/Vrijesh.jpg" height="150" width="150">
								</div>
								<div class="profile-content">
									<h2 class="name">Vrijesh Pandey</h2>
									<h4 class="role">Vodafone Global Enterprise</h4>
									<p class="desc">
										18+ years of Global Experience - Customer centric, execution oriented executive with diverse leadership experience across Strategy, Design, Delivery and Operations roles. Experienced in Emerging Markets and passionate for building and leading highly effective teams
									</p>
								</div>
							</div>
						</div>
					</div> -->
				</div>
				<div class="row js-batch-buttons">
					<div class="col-xs-12">
						<div class="text-center">
							<input id="see-more-button" type="button" class="btn-apply btn btn-see-more-profile btn-js-see-more-profile see-more-button" value="See more">
							<a id="see-full-list-button" href="/timeline/" type="button" class="btn-apply btn see-full-list-button">See full list</a>
							<br/>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Join Now">
							<br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
