<section class="price-section">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 col-md-offset-3">
				<div class="row">
					<div class="col-xs-12 col-sm-6 text-center angel-opportunity sold-out">
						<h3 class="price-title">Angel Opportunity</h3>
						<h2 class="the-money">$2,199</h2>
						<p class="price-desc">*Only for first 5 registrants</h5>
					</div>
					<div class="col-xs-12 col-sm-6 text-center">
						<h3 class="price-title">Normal Price</h3>
						<h2 class="the-money">$2,499</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>