<section class="testimonials-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-10 col-md-offset-1">
        <div class="row">
          <div class="col-xs-12">
            <h2 class="text-center heading">
              <span>TESTIMONIALS</span>
            </h2>
            <h4 class="text-center sub-heading"></h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="static/img/testimonials/batch-001/Coney-Chen.jpg" alt="Carol Chen" class="profile" />
            <blockquote>Wow, I definitely didn't think I'd be crying after Type A Retreat. The friends I made here and the experiences that I had were really amazing. I'll really miss our guys and everyone that I met here, but I know the world is small. And thank you Triip.me for putting on this amazing trip, it's definitely a life time experience.</blockquote>
          </figcaption>
          <h3>Carol Chen<span>Covetella</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="static/img/testimonials/batch-002/Thibault-Cuny.jpg" alt="Thibault Cuny" class="profile" />
            <blockquote>I’m coming from Brazil to Bhutan. so this is the longest travel I’ve ever done and this was worth every moment. It’s the moment of community, moment of friendship, it’s the moment of discovery about a great country and its culture and so really, I got an amazing trip, an amazing week with plenty of new friends at the end of the trip and I will certainly remember that trip all of my life and for plenty of reasons. If you are willing to do it, just come to Bhutan. It’s really worth it.</blockquote>
          </figcaption>
          <h3>Thibault Cuny<span>Pernod Ricard</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="static/img/testimonials/batch-001/Hiro-Ito.jpg" alt="Hiro Ito" class="profile" />
            <blockquote>I feel like I became a different person. I bought into it that we're a team. When we first came it was like we used to be strangers. <b>But now we're a real team</b>, not individuals anymore. So thank you for everything. <b>I'm really proud of being a team</b>.</blockquote>
          </figcaption>
          <h3>Hiroshi Ito<span>ITO Corporation</span></h3>
        </figure>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3">
        <figure class="snip">
          <figcaption>
            <img src="static/img/testimonials/batch-001/Miho-Ito.jpg" alt="Miho Ito" class="profile" />
            <blockquote>Before joining Type-A retreat, I thought I was filled with almost everything…I was quite satisfied with what I was doing and who I was. But this retreat took me beyond that boundary. I learned the wisdom to make life happy. I met the life-long friends that enriches my life for the rest of my life. These are the things you can’t just buy, but need to earn it. If you are truly seeking what your business can make it different, this retreat has so much to tell you what you are looking for. Get inspirations and aspirations and be a part of this witness!</blockquote>
          </figcaption>
          <h3>Miho Ito<span>Communication Central</span></h3>
        </figure>
      </div>
    </div>
  </div>
</section>
