<!DOCTYPE html>
<html lang="en">
{% with title='Type-A Retreat' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<div class="app-root homepage">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="banner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="super-heading">WORLD’S FIRST<br/> TYPE-A<br/> RETREAT</h1>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Apply Now">
						</div>
					</div>
				</div>
			</section>
			<section class="what-next">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHAT'S NEXT</span>
									</h2>
									<h4 class="text-center sub-heading">SAY HELLO TO YOUR MOST <br/>PRODUCTIVE RETREAT WEEK EVER</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TYPE-A PRODUCTIVE</h6>
									<div class="icon">
										<img src="static/img/oval.svg" alt="Type-A Productive" title="Type-A Productive"/>
									</div>
									<p class="desc">Everyday, from 7:30 - 9:30 am, you will sit with a group of Type-A executives and entrepreneurs to focus on doing a full-day’s work in two hours. Yes, two hours!</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">MAGICALLY PEACEFUL</h6>
									<div class="icon">
										<img src="static/img/peaceful.svg" alt="Magically Peaceful" title="Magically Peaceful"/>
									</div>
									<div class="desc">No time to recharge your creativity? Too many business trips? The Retreat is an unrivaled opportunity to feel peaceful and relaxed in the world’s most magical country</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="the-destination">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center heading">
								<span>THE DESTINATION</span>
							</h2>
							<h4 class="text-center sub-heading">ASIA’S HAPPIEST COUNTRY</h4>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2">
							<div class="embed-responsive embed-responsive-16by9">
								<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/6EZaCfWxzgY" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-you-are">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12 text-center">
									<h2 class="heading">
										<span>WHO YOU ARE</span>
									</h2>
									<h4 class="sub-heading">OF ASIA’S TOP VENTURE-<br>BACKED FOUNDERS</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">INVITATION ONLY</h6>
									<div class="icon">
										<img src="static/img/invitation.svg" alt="Invitation" title="Invitation"/>
									</div>
									<p class="desc">Retreat participants have been hand-selected, and batches curated so direct-competitors are not together. Truly the finest founders in Asia.</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TRACK RECORD SUCCESS</h6>
									<div class="icon">
										<img src="static/img/speaker.svg" alt="Track Record" title="Track Record"/>
									</div>
									<div class="desc">Only founders of venture-backed companies can participate, creating an exclusive environment of shared success and also mutual understanding.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="daily-schedule">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>RETREAT ITINERARY</span>
									</h2>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-8 col-sm-offset-2">
									<div class="row">
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 01</h4>
											<p className="desc">TYPE-A BREAKFAST ASIA’S HAPPIEST COUNTRY</p>
											<br class="hidden-xs"/>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 02</h4>
											<p className="desc">MEET WITH BHUTAN BUSINESS LEADERS AND YOUTH TO DISCUSS BUSINESS AND STARTUPS</p>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 03</h4>
											<p className="desc">THE VIEWS OUTSIDE AND INSIDE</p>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 04</h4>
											<p className="desc">TYPE-A BREAKFAST	INTO THE MOUTAIN</p>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 05</h4>
											<p className="desc">TYPE-A BREAKFAST UP THE MOUTAIN</p>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 06</h4>
											<p className="desc">TYPE-A BREAKFAST TIGER’S NEST</p>
										</div>
										<div class="col-xs-12 col-sm-6 day">
											<h4 class="title">DAY 07</h4>
											<p className="desc">THE JOURNEY BEGINS</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-we-are">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHO WE ARE</span>
									</h2>
									<h4 class="text-center sub-heading">FOR FOUNDERS, BY FOUNDERS.<br/>WE ARE ALL IN THE SAME BOAT</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="paragraph">We are also Entrepreueners fighting everyday not just for our businesses, but better balance and peace of mind for ourselves, our employees and families.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/triip-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/pata-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/gobi-logo.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_apply_section.html' %}
		</main>
		{% include '_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'xjkvowpm';
	</script>

	{% with page='Home Page' %}
	{% include '_global_script.html' %}
	{% endwith %}
</body>
</html>