<!DOCTYPE html>
<html lang="en">
{% with title='Type-A Retreat - World\'s First Retreat for Startup CEOs & Founders' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
	<div class="app-root homepage">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="banner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="super-heading">WORLD’S FIRST<br/> TYPE-A<br/> RETREAT</h1>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Apply Now">
						</div>
					</div>
				</div>
			</section>
			{% include '_news_sticker.html' %}
			<section class="what-next">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHAT'S NEXT</span>
									</h2>
									<h4 class="text-center sub-heading">SAY HELLO TO YOUR MOST <br/>PRODUCTIVE RETREAT WEEK EVER</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TYPE-A PRODUCTIVE</h6>
									<div class="icon">
										<img src="static/img/oval.svg" alt="Type-A Productive" title="Type-A Productive"/>
									</div>
									<p class="desc">Everyday, from 7:30 - 9:30 am, you will sit with a group of Type-A executives and entrepreneurs to focus on doing a full-day’s work in two hours. Yes, two hours!</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">MAGICALLY PEACEFUL</h6>
									<div class="icon">
										<img src="static/img/peaceful.svg" alt="Magically Peaceful" title="Magically Peaceful"/>
									</div>
									<div class="desc">No time to recharge your creativity? Too many business trips? The Retreat is an unrivaled opportunity to feel peaceful and relaxed in the world’s most magical country</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="the-destination">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center heading">
								<span>THE DESTINATION</span>
							</h2>
							<h4 class="text-center sub-heading">ASIA’S HAPPIEST COUNTRY</h4>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2">
							<div class="embed-responsive embed-responsive-16by9">
								<a class="show-video video-link fancybox.iframe" rel="nofollow" href="https://www.youtube.com/embed/6EZaCfWxzgY?autoplay=1"></a>
								<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/6EZaCfWxzgY" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-you-are">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12 text-center">
									<h2 class="heading">
										<span>WHO YOU ARE</span>
									</h2>
									<h4 class="sub-heading">OF ASIA’S <br>TOP FOUNDERS</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">INVITATION ONLY</h6>
									<div class="icon">
										<img src="static/img/invitation.svg" alt="Invitation" title="Invitation"/>
									</div>
									<p class="desc">Retreat participants have been hand-selected, and batches curated, so direct-competitors are not together. Truly the finest founders in Asia.</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TRACK RECORD SUCCESS</h6>
									<div class="icon">
										<img src="static/img/speaker.svg" alt="Track Record" title="Track Record"/>
									</div>
									<div class="desc">Only founders and entrepreneurs can participate, creating an exclusive environment of shared success and also mutual understanding.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="daily-schedule">
				<div class="schedule-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<h2 class="text-center heading">
											<span>RETREAT ITINERARY</span>
										</h2>
										<h4 class="text-center sub-heading">Feb 22<sup>nd</sup> - 28<sup>th</sup>, 2017<br/></h4>
										<p class="text-center small-sub-heading">*Every day will begin with a two-hour Type-A Productivity Breakfast &amp; Sharing Session</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="schedule-bottom">
					<div class="itinerary-banner">
						<img
							class="itinerary-background"
							ix-src="https://typearetreat.imgix.net/static/img/tiger-nest.jpg?fit=crop&amp;crop=face"
							alt="Tiger Nest Monastery for CEO"
							sizes="(min-width: 1099px) 100vw, 140vw"
						>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 01</h4>
												<p class="desc">Asia’s Happiest Country</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p> The flight in is spectacular, including views of Mt. Everest, Kanchenjunga, and Makula. Welcome to Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 02</h4>
												<p class="desc">The Views Outside, and In</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p> We will explore Thimphu and have a group sharing and meditation with a high ranking lama.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 03</h4>
												<p class="desc">Bridging the Gap</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>This day we will visit many beautiful places, such as Punakha (1300m) with its 160 meter suspension bridge, and also eat at a traditional farmhouse.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 04</h4>
												<p class="desc">Live Like a Local</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Experience life like a local Bhutanese, including a visit to a local farmhouse with homemade food and gorgeous nature.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 05</h4>
												<p class="desc">Into the Mountain</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Tiger’s Nest is a prominent Himalayan Buddhist sacred site and the temple complex is located in the cliffside of the upper Paro valley in Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 06</h4>
												<p class="desc">Share. Explore. Connect.</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>We will have a sharing session with Bhutanese business leaders and students to learn about business and entrepreneurship in Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 07</h4>
												<p class="desc">The Journey Begins</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Our final Type-A Breakfast and sharing before catching the flight home. Let the journey begin.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="note">*Itinerary subject to change.</p>
			</section>
			{% include '_price_bar.html' %}
			<section id="testimonials" class="testimonials">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>ENTREPRENEURS</span>
									</h2>
									<h4 class="text-center sub-heading">Batch 001</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-sm-12 col-md-4 profile-item">
									<div class="profile-card">
										<div class="avatar">
											<img src="static/img/testimonials/Mario.jpg" height="150" width="150">
										</div>
										<div class="profile-content">
											<h2 class="name">Dr. Mario Hardy</h2>
											<h4 class="role">CEO of PATA <br/>(Pacific Asia Travel Association) </h4>
											<p class="desc">
												An investor, entrepreneur and senior executive with more than 30 years of combined leadership, corporate development and change management experience. Dr Mario's focus has been on shaping and implementing strategies that inspire teams in unlocking their full potential.
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 profile-item">
									<div class="profile-card">
										<div class="avatar">
											<img src="static/img/testimonials/Victor-Chua.jpg" height="150" width="150">
										</div>
										<div class="profile-content">
											<h2 class="name">Victor Chua</h2>
											<h4 class="role">Vice President of  Investment-Gobi Partners - Malaysia </h4>
											<p class="desc">
												Victor joined Gobi in early 2015. He was an Investment Manager with Malaysia Venture Capital Management (“MAVCAP”), Malaysia’s largest venture capital firm and a company wholly owned by the Ministry of Finance of Malaysia, where he invested in early stage high growth tech companies. He was also associated with 500 Startups, through their ASEAN extension, 500 Durians.
											</p>
										</div>
									</div>
								</div>
								<div class="col-sm-12 col-md-4 profile-item">
									<div class="profile-card">
										<div class="avatar">
											<img src="static/img/testimonials/Hiro-Ito.jpg" height="150" width="150">
										</div>
										<div class="profile-content">
											<h2 class="name">Hiroshi Ito</h2>
											<h4 class="role">ITO Corporation -Japan</h4>
											<p class="desc">
												Hiroshi Ito currently serves ITO Corporation, an industrial dustributor based in Tokyo, as Executive Vice President overseeing HR, Finance, Marketing, and Business Development. In this role, he helps the company transform itself from a traditional distrbutor into a global serive provider. Hiroshi holds an MBA from Columbia Business School.
											</p>
										</div>
									</div>
								</div>
							</div>
							<div class="text-center" id="see-more-button-wrapper">
								<input type="button" class="btn-apply btn btn-js-see-more-profile" value="See more">
							</div>
							<div class="section-more-content">
								<div class="row section-content">
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Jun-Ishikawa.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Jun Ishikawa</h2>
												<h4 class="role">Founder of Tabica - Japan</h4>
												<p class="desc">
													The director of Gaiax Global Marketing and Ventures Pte. Ltd, founder of Tabica. The company's mission is to enable people to have more open mind towards others with different cultures and backgrounds. "TABICA", a platform that helps travelers dive into local life, and "Yokoso Muslim", a messenger add-on for local people who want to support Muslim travelers at the same time understanding their culture and beliefs. Jun works in Japan, Phillipines, Singapore and Thailand.
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Stacey-Lee.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Stacey Lee</h2>
												<h4 class="role">Co-Founder of Nuren Group- Malaysia</h4>
												<p class="desc">
													A mom of 2 boys and an entrepreneur who always busy to earn for living, been at the start up environment from 2009, and one of the start-up everyday.com.my was eventually acquired by the global group buying website – Living Social and now work at the new start up Nurengroup.com which recently closed a US$2 million series A funding round led by Gobi Partner.
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Miho-Ito.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Miho Ito</h2>
												<h4 class="role">Communication Central- Japan</h4>
												<p class="desc">
													Miho Ito has been the President of Communication Central. Currently she holds a position of English Communication instructor for high school students at Heizo Takenaka Sekai-juku, the course designed for global leaders. Also a transcreator for the luxurious jewelry brands.
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="row section-content">
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Giulia-Cian-Seren.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Giulia Cian Seren</h2>
												<h4 class="role">Rising Star</h4>
												<p class="desc">
													While working for very digital and tech-oriented companies Giulia  advised organisations in completely different fields to fuel her curiosity and keep her skills trained.
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Ha-Lam.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Ha Lam</h2>
												<h4 class="role">Co-Founder of Triip.me<br/>Creator of Type-A Retreat</h4>
												<p class="desc">
													Ha Lam co-founded <a target="_blank" href="https://www.triip.me">Triip.me</a> in 2013. <a target="_blank" href="https://www.triip.me">Triip.me</a> is a sharing economy platform for unique and private local experiences, connecting people who desire to experience local culture with those who are looking to offer specially designed tours. Ha previously spent over 9 years in the travel industry in Ho Chi Minh City, Vietnam. Ha’s passion comes from bringing joy to every single person she meets.
												</p>
											</div>
										</div>
									</div>
									<div class="col-sm-12 col-md-4 profile-item">
										<div class="profile-card">
											<div class="avatar">
												<img src="static/img/testimonials/Hai-Ho.jpg" height="150" width="150">
											</div>
											<div class="profile-content">
												<h2 class="name">Hai Ho</h2>
												<h4 class="role">Founder of Triip.me</h4>
												<p class="desc">
													Over 10 years experiences in building products and community for over 5 mil users. Hai is passionate about sharing his experience, his ideas to all people he have met and Travel is one of the ways for him to learn and share. Builder and growth hacker for online communities, brands, payment gateway, social network, wearable healthcare, mobile apps since 2008.
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-we-are">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHO WE ARE</span>
									</h2>
									<h4 class="text-center sub-heading">FOR FOUNDERS, BY FOUNDERS.<br/>WE ARE ALL IN THE SAME BOAT</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="paragraph">We are also Entrepreneurs fighting everyday not just for our businesses, but better balance and peace of mind for ourselves, our employees and families.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/triip-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/pata-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/gobi-logo.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_apply_section.html' %}
			<!-- <section class="twitter-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center col-sm-6 col-sm-offset-3">
							<div class="">
								<a class="twitter-timeline" href="https://twitter.com/typeAretreat" height="600">Tweets by Type-A Retreat</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
			</section> -->
		</main>
		{% include '_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'xjkvowpm';
	</script>

	{% with page='Home Page' %}
	{% include '_global_script.html' %}
	{% endwith %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

	<script src="/static/js/imgix.min.js"></script>

	<script>
		(function(doc, $){
			if (window.imgix) {
				window.imgix.config.host = 'typearetreat.imgix.net';
			}

			var $videoLink = $('.video-link').fancybox({
				maxWidth	: 800,
				maxHeight	: 600,
				fitToView	: false,
				width		: '100%',
				height		: '70%',
				autoSize	: false,
				closeClick	: true,
				openEffect	: 'fade',
				closeEffect	: 'fade'
			});

			window.visitedTypeA = readCookie('visitedTypeA');

			if (!window.visitedTypeA) {
				$videoLink.trigger('click');
				createCookie('visitedTypeA', true);
			}

			$(document).on('click', '.btn-js-see-more-profile', function() {
				$('#testimonials').find('.section-more-content').slideDown();
				$('#see-more-button-wrapper').fadeOut();
			});

		})(document, jQuery);
	</script>
</body>
</html>