<!DOCTYPE html>
<html lang="en">
{% with title='Type-A Retreat - World\'s First Retreat for Startup CEOs & Founders' %}
{% include '_header.html' %}
{% endwith %}

<body>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css">
	<div class="app-root homepage">
		{% include '_nav_header.html' %}
		<main class="main">
			<section class="banner">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h1 class="super-heading">WORLD’S FIRST<br/> TYPE-A<br/> RETREAT</h1>
							<input type="button" class="btn-apply btn js-button-apply-top" value="Apply Now">
						</div>
					</div>
				</div>
			</section>
			{% include '_news_sticker.html' %}
			<section class="what-next">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>READY TO RETREAT?</span>
									</h2>
									<h4 class="text-center sub-heading">SAY HELLO TO YOUR MOST <br/>PRODUCTIVE RETREAT WEEK EVER</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TYPE-A PRODUCTIVE</h6>
									<div class="icon">
										<img src="static/img/oval.svg" alt="Type-A Productive" title="Type-A Productive"/>
									</div>
									<p class="desc">Everyday, from 7:30 - 9:30 am, you will sit with a group of Type-A executives and entrepreneurs to focus on doing a full-day’s work in two hours. Yes, two hours! <a href="/the-science-behind/">Learn how it works</a></p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">MAGICALLY PEACEFUL</h6>
									<div class="icon">
										<img src="static/img/peaceful.svg" alt="Magically Peaceful" title="Magically Peaceful"/>
									</div>
									<div class="desc">No time to recharge your creativity? Too many business trips? The Retreat is an unrivaled opportunity to feel peaceful and relaxed in the world’s most magical country</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="the-destination">
				<div class="container">
					<div class="row">
						<div class="col-xs-12">
							<h2 class="text-center heading">
								<span>THE DESTINATION</span>
							</h2>
							<h4 class="text-center sub-heading">ASIA’S HAPPIEST COUNTRY</h4>
						</div>
					</div>
					<div class="row section-content">
						<div class="col-xs-12 text-center col-sm-8 col-sm-offset-2">
							<div class="embed-responsive embed-responsive-16by9">
								<a class="show-video video-link fancybox.iframe" rel="nofollow" href="https://www.youtube.com/embed/PZuBKZY8e54?autoplay=1"></a>
								<iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube-nocookie.com/embed/PZuBKZY8e54" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="who-you-are">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12 text-center">
									<h2 class="heading">
										<span>WHO YOU ARE</span>
									</h2>
									<h4 class="sub-heading">OF ASIA’S <br>TOP FOUNDERS</h4>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">INVITATION ONLY</h6>
									<div class="icon">
										<img src="static/img/invitation.svg" alt="Invitation" title="Invitation"/>
									</div>
									<p class="desc">Retreat participants have been hand-selected, and batches curated, so direct-competitors are not together. Truly the finest founders in Asia.</p>
								</div>
								<div class="col-xs-12 col-sm-6 text-center item">
									<h6 class="title">TRACK RECORD SUCCESS</h6>
									<div class="icon">
										<img src="static/img/speaker.svg" alt="Track Record" title="Track Record"/>
									</div>
									<div class="desc">Only founders and entrepreneurs can participate, creating an exclusive environment of shared success and also mutual understanding.</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_participants.html' %}
			<section class="daily-schedule">
				<div class="schedule-top">
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<h2 class="text-center heading">
											<span>RETREAT ITINERARY</span>
										</h2>
										<h4 class="text-center sub-heading">Jun 02<sup>nd</sup> - 08<sup>th</sup>, 2017<br/></h4>
										<p class="text-center small-sub-heading">*Every day will begin with a two-hour Type-A Productivity Breakfast &amp; Sharing Session</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="schedule-bottom">
					<div class="itinerary-banner">
						<img
							class="itinerary-background"
							ix-src="https://typearetreat.imgix.net/static/img/tiger-nest.jpg?fit=crop&amp;crop=face"
							alt="Tiger Nest Monastery for CEO"
							sizes="(min-width: 1099px) 100vw, 140vw"
						>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-sm-12 col-md-10 col-md-offset-1">
								<div class="row">
									<div class="col-xs-12">
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 01</h4>
												<p class="desc">Asia’s Happiest Country</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p> The flight in is spectacular, including views of Mt. Everest, Kanchenjunga, and Makula. Welcome to Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 02</h4>
												<p class="desc">The Views Outside, and In</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p> We will explore Thimphu and have a group sharing and meditation with a high ranking lama.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 03</h4>
												<p class="desc">Bridging the Gap</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>This day we will visit many beautiful places, such as Punakha (1300m) with its 160 meter suspension bridge, and also eat at a traditional farmhouse.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 04</h4>
												<p class="desc">Live Like a Local</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Experience life like a local Bhutanese, including a visit to a local farmhouse with homemade food and gorgeous nature.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 05</h4>
												<p class="desc">Into the Mountain</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Tiger’s Nest is a prominent Himalayan Buddhist sacred site and the temple complex is located in the cliffside of the upper Paro valley in Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 06</h4>
												<p class="desc">Share. Explore. Connect.</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>We will have a sharing session with Bhutanese business leaders and students to learn about business and entrepreneurship in Bhutan.</p>
											</div>
										</div>
										<div class="row day-row">
											<div class="col-xs-12 col-sm-6 day">
												<h4 class="title">DAY 07</h4>
												<p class="desc">The Journey Begins</p>
											</div>
											<div class="hidden-xs col-sm-6 details">
												<p>Our final Type-A Breakfast and sharing before catching the flight home. Let the journey begin.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<p class="note">*Itinerary subject to change.</p>
			</section>
			{% include '_price_bar.html' %}
			<section class="who-we-are">
				<div class="container text-center">
					<div class="row">
						<div class="col-sm-12 col-md-10 col-md-offset-1">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>WHO WE ARE?</span>
									</h2>
									<h4 class="text-center sub-heading">FOR FOUNDERS, BY FOUNDERS.<br/>WE ARE ALL IN THE SAME BOAT</h4>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12">
									<p class="paragraph">We are also Entrepreneurs fighting everyday not just for our businesses, but better balance and peace of mind for ourselves, our employees and families.</p>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/triip-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/pata-logo.png"/>
								</div>
								<div class="col-xs-12 col-sm-4">
									<img src="static/img/gobi-logo.png"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include '_apply_section.html' %}
			<!-- <section class="twitter-section">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center col-sm-6 col-sm-offset-3">
							<div class="">
								<a class="twitter-timeline" href="https://twitter.com/typeAretreat" height="600">Tweets by Type-A Retreat</a>
								<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
							</div>
						</div>
					</div>
				</div>
			</section> -->
		</main>
		{% include '_footer.html' %}
	</div>

	<script type="text/javascript">
		window.formToken = 'xjkvowpm';
	</script>

	{% with page='Home Page' %}
	{% include '_global_script.html' %}
	{% endwith %}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

	<script src="/static/js/imgix.min.js"></script>

	<script>
		(function(doc, $){
			if (window.imgix) {
				window.imgix.config.host = 'typearetreat.imgix.net';
			}

			var $videoLink = $('.video-link').fancybox({
				maxWidth	: 800,
				maxHeight	: 600,
				fitToView	: false,
				width		: '100%',
				height		: '70%',
				autoSize	: false,
				closeClick	: true,
				openEffect	: 'fade',
				closeEffect	: 'fade'
			});

			window.visitedTypeA = readCookie('visitedTypeA');

			if (!window.visitedTypeA) {
				$videoLink.trigger('click');
				createCookie('visitedTypeA', true);
			}

			$(document).on('click', '.btn-js-see-more-profile', function() {
				$('#entrepreneurs').find('.section-more-content').slideDown();
				$('#see-more-button').fadeOut();
			});

		})(document, jQuery);
	</script>
</body>
</html>