<!DOCTYPE html>
<html lang="jp">
{% with title='The Science Behind | Type-A Retreat - 世界初、経営者＆創業者のためのリトリート' %}
{% include 'jp/_header.html' %}
{% endwith %}

<body class="jp">
	<div class="app-root science">
		{% include 'jp/_nav_header.html' %}
		<main class="main">
			<section class="how-it-works">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>仕組みは？</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12">
									<div class="row time-row">
										<div class="col-xs-2 orange number">1.</div>
										<div class="col-xs-10">
											<h3 class="title orange">START EARLY. ON TIME.</h3>
											<p class="desc">午前7:30までに、普段は8時間かかるタスクの一覧を持って集合！</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">2.</div>
										<div class="col-xs-10">
											<h3 class="title orange">HYPER-PRODUCTIVE TOGETHER.</h3>
											<p class="desc">同じミッションを持った仲間とだけ。</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">3.</div>
										<div class="col-xs-10">
											<h3 class="title orange">NO EXCUSES.</h3>
											<p class="desc">すべてを2時間で終わらせます。</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="why-it-works">
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-md-offset-3">
							<div class="row">
								<div class="col-xs-12">
									<h2 class="text-center heading">
										<span>なぜ機能するのか？</span>
									</h2>
								</div>
							</div>
							<div class="row section-content">
								<div class="col-xs-12">
									<div class="row time-row">
										<div class="col-xs-2 orange number">1.</div>
										<div class="col-xs-10">
											<h3 class="title orange">気をそらすようなものはなし</h3>
											<p class="desc">誰も話しません。誰もFacebookにアクセスしません。誰もプロダクティビティに関してのブログを読みません。</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">2.</div>
										<div class="col-xs-10">
											<h3 class="title orange">TYPE-Aの方々と一緒に</h3>
											<p class="desc">自分一人の時に得られない、エネルギーに溢れた雰囲気・空気感が生まれます。</p>
										</div>
									</div>
									<div class="row time-row">
										<div class="col-xs-2 orange number">3.</div>
										<div class="col-xs-10">
											<h3 class="title orange">心地よい仲間感のプレッシャーを感じます</h3>
											<p class="desc">図書館でのグループスタディ、ジムでのワークアウトのようなものです。</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			{% include 'jp/_news_sticker.html' %}
			{% include 'jp/_apply_section.html' %}
		</main>
		{% include 'jp/_footer.html' %}
	</div>

	{% with page='Science Page' %}
	{% include 'jp/_global_script.html' %}
	{% endwith %}
</body>
</html>
