<div class="row section-content">
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-003/Luis-Arcangel.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Luis Arcangel</h2>
				<h4 class="role">Founder/CEO of Montgomery Fitch and Associates</h4>
				<p class="desc">
					Luis Arcangel is a New York-trained business executive who is the founder and current CEO of Montgomery Fitch + Associates, an independent creative agency that has mounted subversive campaigns in four continents for some of the biggest brands in the world. His self- improvement and business communication keynotes are a culmination of his transcontinental expertise and "in-the-trenches" experience within the industry, and have been delivered to numerous industry conferences, business summits, Fortune 500 corporations and non-profit organizations worldwide. In addition, he was a recent honoree of the Capital One Young Leader Of The Year at the 2016 Asia CEO Awards, which recognizes outstanding achievement among high-level business executives within the region.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-003/June-Chua.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">June Chua</h2>
				<h4 class="role">Co Founder/CEO of The Wok People Pte Ltd</h4>
				<p class="desc">
					Ms June Chua is the Founder as well as the Shareholder of The Wok People Pte Ltd. A highly motivated entrepreneur who remains extraordinarily faithful to her humble beginnings, June pioneered an institutional catering business from a modest 4-man team and grew it into the multi-million dollar business today, comprising a workforce of 520 employees. June is an excellent change agent, with a "People First" mindset. She believes building, growing, nurturing and sharing are essential elements to a successful organisation, and these beliefs serve as the core values behind many of her corporate decision making. June inspires her team with Courage, Commitment, and by Walking her Talk.
				</p>
			</div>
		</div>
	</div>
</div>
