<div class="row section-content">
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Mario.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Dr. Mario Hardy</h2>
				<h4 class="role">CEO of PATA <br/>(Pacific Asia Travel Association) </h4>
				<p class="desc">
					An investor, entrepreneur and senior executive with more than 30 years of combined leadership, corporate development and change management experience. Dr Mario's focus has been on shaping and implementing strategies that inspire teams in unlocking their full potential.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Madihah-Binti-Ahmad-Razae.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Madihah Binti Ahmad Razae</h2>
				<h4 class="role">Associate Investment<br/>Gobi Venture Malaysia </h4>
				<p class="desc">
					Madihah joined Gobi in early 2016, and is assisting the team with market research, due diligence, and deal sourcing in Southeast Asia, with a particular focus on the TaqwaTech sector. She also helps the team with monitoring the performance of Gobi’s portfolio companies. Prior to Gobi, she was a Senior Executive at Malaysia Venture Capital Management Berhad (MAVCAP), Malaysia’s largest venture capital firm and a company wholly owned by the Malaysian Ministry of Finance (MOF).
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Hiro-Ito.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Hiroshi Ito</h2>
				<h4 class="role">ITO Corporation Japan</h4>
				<p class="desc">
					Hiroshi Ito currently serves ITO Corporation, an industrial dustributor based in Tokyo, as Executive Vice President overseeing HR, Finance, Marketing, and Business Development. In this role, he helps the company transform itself from a traditional distrbutor into a global serive provider. Hiroshi holds an MBA from Columbia Business School.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-content">
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Stacey-Lee.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Stacey Lee</h2>
				<h4 class="role">Co-Founder of Nuren Group Malaysia</h4>
				<p class="desc">
					A mom of 2 boys and an entrepreneur who always busy to earn for living, been at the start up environment from 2009, and one of the start-up everyday.com.my was eventually acquired by the global group buying website – Living Social and now work at the new start up Nurengroup.com which recently closed a US$2 million series A funding round led by Gobi Partner.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Jun-Ishikawa.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Jun Ishikawa</h2>
				<h4 class="role">Founder of Tabica Japan</h4>
				<p class="desc">
					The director of Gaiax Global Marketing and Ventures Pte. Ltd, founder of Tabica. The company's mission is to enable people to have more open mind towards others with different cultures and backgrounds. "TABICA", a platform that helps travelers dive into local life, and "Yokoso Muslim", a messenger add-on for local people who want to support Muslim travelers at the same time understanding their culture and beliefs. Jun works in Japan, Phillipines, Singapore and Thailand.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Miho-Ito.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Miho Ito</h2>
				<h4 class="role">Communication Central Japan</h4>
				<p class="desc">
					Miho Ito has been the President of Communication Central. Currently she holds a position of English Communication instructor for high school students at Heizo Takenaka Sekai-juku, the course designed for global leaders. Also a transcreator for the luxurious jewelry brands.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-content">
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Dian-Adriani-Mohamad-Noeh.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Dian Noeh Abubakar</h2>
				<h4 class="role">Kennedy, Voice &amp; Berliner<br/>Indonesia</h4>
				<p class="desc">
					Dian has been in PR industry since 1998 then become entrepreneur or venture builder by founding Kennedy, Voice & Berliner on 23 November 2011. Dian also came up with various differentiated product development including Voice of Startups and Voice of Fintech. Dian is also active at business association including Asosiasi Pengusaha Indonesia. Dian is mentor at Jakarta Founder Institute and Global Entrepreneur Program Indonesia (GEPI) also Public Relations Advisor to some tech global and local companies.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Giang-Nguyen.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Giang Nguyen</h2>
				<h4 class="role">Founder of Diffcat - Vietnam</h4>
				<p class="desc">
					Giang is a digital entrepreneur with extensive experience in e-commerce and mobile application development. His first business was e-commerce with 24mua.com, which he then followed a few years later with Vietnam's first SEO software company, Nhat Viet SEO Software. After closing Nhat Viet in 2014, he built a social media photo app called WinkJoy. At present, Giang is the CEO of Diffcat, a mobile game studio.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Uni-Lubis.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Uni Lubis</h2>
				<h4 class="role">Managing Director of Rappler Indonesia</h4>
				<p class="desc">
					Zulfiani "Uni" Lubis has nearly 26 years experience as a journalist leading print and broadcast newsrooms. She has visited over 35 countries for the coverage of international forums and visiting heads of state. Aside from teaching courses at the Indonesia Journalism School, Uni is also an active member of UNESCO's Asia Pacific steering committee group discussion on Women and Gender Issues in Journalism. At present, Uni is in charge of content and business for Rappler Indonesia (@RapplerID) as Managing Director.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-content">
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Giulia-Cian-Seren.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Giulia Cian Seren</h2>
				<h4 class="role">Rising Star</h4>
				<p class="desc">
					While working for very digital and tech-oriented companies Giulia  advised organisations in completely different fields to fuel her curiosity and keep her skills trained.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Dung-Nguyen.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Dung Manh Nguyen</h2>
				<h4 class="role">Alotrip - Vietnam</h4>
				<p class="desc">
					Dung is an expert in Business Development, Management, Marketing, PR &amp; Brand, he has 7 years of working in International trading and brokerage &amp; 3 years in Online Travel. AloTrip aims to localize &amp; innovate online flight booking in Vietnam &amp; Indochina before expanding to entire Asia &amp; Globe for the next 30 years of the “Internet Revolution.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Lunk.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Lunk Jayanata</h2>
				<h4 class="role">Indonesia Technologies <br/>Indonesia</h4>
				<p class="desc">
					Lunk has started several companies until now, the first one when he was 25. Currently he invests in technology companies and social businesses. He just wants to go to Bhutan with people he can talk to.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-content">
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Trevor-Weltman.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Trevor Weltman</h2>
				<h4 class="role">Growth @ Triip.me - USA</h4>
				<p class="desc">
					Trevor has over 8 years of experience in digital marketing and training, and a decade in Asia. Trevor worked previously at Google before creating his own marketing and growth-hacking consultancy. At present, he travels often in the region teach courses on product management and self-development. Both Trevor and his wife are meditation instructors.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Coney-Chen.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Carol Chen</h2>
				<h4 class="role">Managing Director<br/>Covetella - USA</h4>
				<p class="desc">
					Called an "International Style Icon" by E! News and a "Rising Star" by SF Fashion Week, Carol designed her own clothing line in Los Angeles which was sold in over 300 stores, built her own factory in China which hit 7-figures within a year, helped launch one of Hong Kong's first MMA brands, and is the founder of Singapore’s first fashion rental marketplace, Covetella. A native Texan, Carol was selected as one of 100 Asian delegates to attend the Global Entrepreneurship Summit hosted by President Obama and was a finalist on Channel News Asia’s reality show, ‘START-UP’.
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-001/Le-Cong-Hoang.jpg" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Hoang Le</h2>
				<h4 class="role">CEO of Marill - Vietnam</h4>
				<p class="desc">
					Hoang Le Cong has had a versatile career thus far, having worked in finance, cinematography, film editing, acting, and directing. With his new venture,  Marill (marillmedia.com), he is the CEO and Producer of a creative house focused on making interactive and expressive product videos for clients. For the retreat, Hoang is most excited to interact with other CEOs as well as spend time out in nature.
				</p>
			</div>
		</div>
	</div>
</div>