<div class="row section-content">
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-004/Romolus.jpg" title="Romulus (Romy) Marian Sirbu" alt="Romulus (Romy) Marian Sirbu" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Romulus (Romy) Marian Sirbu</h2>
				<!-- <h4 class="role"></h4> -->
				<p class="desc">Romulus is an senior executive with 20 years experience in the number one beauty direct seller in the world, with a success proven records in 11 markets from Europe and Asia, all of them in turnaround stage -He is a kind of "paramedic" :-) . Romy loves travelling and writing about his experiences, being so far in more than 50 countries across the globe. He likes sports, plays  piano and enjoy driving fast cars and riding motorcycles.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-004/Ekaterina-Trubinova.jpg" alt="Ekaterina Trubinova" title="Ekaterina Trubinova" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Ekaterina Trubinova</h2>
				<!-- <h4 class="role"></h4> -->
				<p class="desc">A digital marketing strategist, head of marketing at AloTrip, an online travel agency in Vietnam. I have 4 years of experience in helping companies to use the web to drive online visibility and generate leads. I believe that moving is living. To keep moving, one needs to expose themselves to as much as possible. That is the reason I'm joining this retreat. 
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-004/Trang-Nguyen.jpg" alt="Trang Nguyen" title="Trang Nguyen" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Trang Nguyen</h2>
				<!-- <h4 class="role"></h4> -->
				<p class="desc">A corporate leader (aka Director) working for KPMG providing management consulting and corporate governance services to companies in Vietnam. Trang set her foot back in Vietnam after spending 18 years in Sydney, Australia with a mission to help developing a consulting business for KPMG in Vietnam and reconnecting with her Vietnamese root.  She is a passionate "Viet Kieu" (a naturalized Australian with Vietnamese heritage) who love to travel, meet new people and learn about their stories. She also a strong believer that a better Vietnam (or any cdountries in the world) can be achieved through good, affordable education and healthcare systems.
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row section-content">
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-004/Thien-Nguyen.jpg" title="Thien Nguyen" alt="Thien Nguyen" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Thien Nguyen</h2>
				<!-- <h4 class="role"></h4> -->
				<p class="desc">Thien is a Googler looking to fulfill his passion in entrepreneurship. He's working with partners in Vietnam to improve the education system and create more accessible career guidance for the country's youth. After a long time sharpening his technical skills in Silicon Valley's tech giants, he hopes to refresh himself, find inner peace and set more impactful goals for the journey to come.
				</p>
			</div>
		</div>
	</div>
	<div class="col-sm-12 col-md-4 profile-item">
		<div class="profile-card">
			<div class="avatar">
				<img src="../static/img/testimonials/batch-004/Athena-An-Do.jpg" alt="Athena An Do" title="Athena An Do" height="150" width="150">
			</div>
			<div class="profile-content">
				<h2 class="name">Athena An Do</h2>
				<!-- <h4 class="role"></h4> -->
				<p class="desc">A strategic business woman, equipped with strategic marketing and product management through over 10 years practicing in various industries and different cultures. She has a great interest to people either in corporate environment or social context, and how to discover their inner self as well as potential for good. Aside from those, she is just a restless wonderer, seeing the world with a child's wide-eyes. Currently serves as Business Head at Wavemaker- A GroupM company.
				</p>
			</div>
		</div>
	</div>
</div>
